

.title{
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}

.subtitle{
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  &.success {
    color: green;
  }
  &.fail {
    color: red;
  }
}

.card{
  margin-top: 200px;
  margin-bottom: 35px;
  text-align: center;
}

.btn-outline-primary {
  color: #0d6efd;
  border-color: #0d6efd;

  &.deleted {
      color: green;
      border-color: green;
  }
}

.btn {
    margin:15px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid ;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.imgStyle{
  height: 80px;
  text-align: center;
  .largeimg{
    height: 200px;
  }
}

/* Establece el color de texto y fondo para ocultar el texto "Ningún archivo seleccionado" */
input[type="file"] {
  color: transparent;
  background: transparent; 
  border: none; 
  outline: none; 
  margin-right: 230px;
}

.custom-file-upload input[type="file"] {
  display: none;
}

/* Estilos para el contenedor personalizado del botón */
.custom-file-upload {
  position: relative;
  display: inline-block;
}

/* Estilos para el botón personalizado */
.custom-file-upload .btn {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #dc3545; /* Estilo de borde */
  color: #dc3545; /* Color del texto */
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/* Cambiar estilo del botón cuando el input se enfoca */
.custom-file-upload input[type="file"]:focus + .btn {
  background-color: #dc3545; /* Cambiar color de fondo en enfoque */
  color: #fff; /* Cambiar color de texto en enfoque */
  border-color: #dc3545; /* Cambiar borde en enfoque */
}

mat-toolbar{
  background: cadetblue;
  height: 80px;
}

.medicina{
  margin-left: 1030px;
  height: 80px;
}

